body {
  background-color: #4c5f6b;
}

#main-content {
  max-width: 950px;
  padding: auto 0;
}

.game {
  margin-top: 100px;
}

.card {
  background-color: #83a0a0;
  border: solid #6d5f77 5px;
}

.btn {
  width: 100%;
  margin: 3px;
}

#playerOneScore, #playerTwoScore {
  border: 2px solid #333;
  border-radius: 4px;
  margin: 20px auto;
  padding: 25px;
  font-family: monospace;
  font-size: 3rem;
}

.playerOneRoll, .playerTwoRoll {
  border: 2px solid #333;
  border-radius: 4px;
  margin: 4px auto;
  padding: 4px;
  font-family: monospace;
  text-align: center;
}

.rollHistory {
  margin: 0 25px;
}

.playerOneZone {
  display: inline;
}

.playerTwoZone {
  display: none;
}